<!DOCTYPE html>
<html>
<head>
	<title>Georgian keyboard for Angular</title>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>

	<script src="./src/angular_georgian_keyboard.js"></script>
	<script src="app.js"></script>

</head>
<body ng-app="myApp" ng-controller="AppController">


	<div class="container">
		
		<h1>Angular Directive for Georgian Keyboard</h1>
		<hr>

		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
					Form
				</div>
				<div class="panel-body">
					<form ng-submit="submit()">
						<div class="checkbox">
							<label>
								<input type="checkbox" ng-model="enabled">
								Enable/Disable
							</label>
						</div>
						<div class="form-group">
							<label>{{ input1 }}</label>
							<input type="text" class="form-control" name="input1" ng-model="input1" ng-keyup="onChange()" geo-kbd="enabled">
						</div>
						<div class="form-group">
							<label>{{ input2 }}</label>
							<textarea class="form-control" ng-model="input2" geo-kbd="enabled"></textarea>
						</div>
					</form>
				</div>
			</div>
			<a href="https://github.com/shakogegia/angular_georgian_keyboard" class="btn btn-primary"><i class="glyphicon glyphicon-save btn-lg"></i>View Project on github</a>
		</div>
		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					Docs
				</div>
				<div class="panel-body">
					<h2>Angular Directive for Georgian Keyboard</h2>

					A simple angular directive for geo kbd.

					<h2>Install</h2>

					<p>Install with bower</p>

					<pre>bower install angular_georgian_keyboard</pre>

					<p>Inlcude script</p>

					<pre>bower_components/angular_georgian_keyboard/src/angular_georgian_keyboard.js</pre>
					
					<p>Include in your app</p>

					<pre>angular.module('myApp', ['GoergianKeyboard']);</pre>

					<h2>Usage</h2>

					<p>You can pass true/false to enable/disable georgian keyboard</p>

					<pre>input type="text" ng-model="input" geo-kbd="enabled"</pre>
				</div>
			</div>
		</div>
	</div>


</body>
</html>